.navbar-brand {
    padding-inline: 10em !important;
    color:  rgb(151, 248, 6);
    font-size: larger;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-link{
    margin-right: 2em !important;
    font-weight: bold;
}
.active:hover {
    color: rgb(151, 248, 6);
}
.navbar-collapse{ 
    justify-content: space-around;
}
.navbar-toggler{  
    background:#fff !important;
}
.btn {
    border-radius: 2em !important;
    width: fit-content;
    background-color: rgb(151, 248, 6);
    color: white;
    font-weight: bold;
}